<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공주고 3D 프린터실</title>
  <link rel="stylesheet" href="/templates/css/style.css">
  <link rel="stylesheet" href="/templates/css/Home.css">
  <link rel="shortcut icon" type="x-icon" href="/templates/source/img/LogoIcon.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <a href="/"><img src="/templates/source/img/logo.png"></a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="menu"><i class='bx bx-menu'></i></label>
    <nav class="navbar">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/Esetimate">견적</a></li>
        <li><a href="/Ask">신청</a></li>
        <li><a href="/Search">조회</a></li>
        <li><a href="/Inquiry">문의</a></li>
        <li class="loginInMenu"><a href="/api/login">로그인</a></li>
        <li class="userInMenu"><a href="/api/user">프로필</a></li>
      </ul>
    </nav>
    <nav class="LoginWrap">
      <a href="/api/login" class="login">로그인</a>
      <a href="/api/user" class="user" style="display: none;"><i class='bx bxs-user-circle'></i></a>
    </nav>
    <script>
      function handleResize() {
        const loginInMenu = document.querySelector('.loginInMenu');
        const userInMenu = document.querySelector('.userInMenu');

        if (window.innerWidth <= 991) {
          loginInMenu.style.display = 'initial';
          userInMenu.style.display = 'none';
        } else {
          loginInMenu.style.display = 'none';
          userInMenu.style.display = 'none';
        }
      }

      handleResize();

      window.addEventListener('resize', handleResize);
    </script>
  </header>

  <!-- 홈 -->
  <section class="home" id="home">
    <div class="home-text">
      <h1>공주고등학교</h1>
      <h2>3D프린터실 <br> 출력 대행서비스</h2>
      <a href="/ask" class="btn">신청하러가기</a>
    </div>
    <div class="home-img">
      <img src="/templates/source/img/3DprinterIMG.png">
    </div>
  </section>

  <!-- 소개 -->
  <section class="about" id="about">
    <div class="about-img">
      <img src="/templates/source/img/KongjugoLogo.webp">
    </div>
    <div class="about-text">
      <span>About Us</span>
      <h2>공주고 3D 프린터실은 <br> 봉사활동으로 시작되었습니다</h2>
      <p>저희는 3D프린터실의 관리와 유지 보수 그리고 선생님분들이 원하시는 교육 자료 등을 출력해드리는 활동을 2024년 한해 동안 진행하는 프로젝트 봉사활동으로 시작되었습니다. </p>
    </div>
  </section>

  <!-- 프로세서 -->
  <section class="menu" id="menu">
    <div class="heading">
      <span>제작 절차</span>
      <h2>신청부터 제작까지 과정</h2>
    </div>
    <div class="menu-container">
      <div class="box">
        <div class="box-img">
          <img src="/templates/source/img/Document.png">
        </div>
        <h2>신청서 제출</h2>
        <h3>신청 페이지에서 작성 후 제출</h3>
      </div>
      <div class="box">
        <div class="box-img">
          <img src="/templates/source/img/printer.png">
        </div>
        <h2>3D프린터 출력</h2>
        <h3>요청하신 모델링 파일을 3D프린터로 출력</h3>
      </div>
      <div class="box">
        <div class="box-img">
          <img src="/templates/source/img/delivery.png">
        </div>
        <h2>배달</h2>
        <h3>출력한 제품을 주문지로 배달</h3>
      </div>
    </div>
  </section>

  <!-- 연락하기  -->
  <section class="ContactUs" id="ContactUs">
    <div class="heading">
      <span>Contact Us</span>
      <h2>공주고 3D프린터실은 여기 있습니다</h2>
    </div>
    <div class="ContactWrap">
      <div class="Map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d567.3453230355684!2d127.12268579590629!3d36.44813503342944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ab9de55912a6b%3A0xa6e8545e90d60671!2z6rO17KO86rOg65Ox7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1722956958515!5m2!1sko!2skr"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="Contact-text">
        <div class="Adress">
          <span>주소</span>
          <h2>충청남도 공주시 공주고담길2 (과학정보관 2층)</h2>
        </div>
        <div class="tel">
          <span>연락 메일</span>
          <h2>20231720@kongjugo.cnehs.kr <br><br> 20231601@kongjugo.cnehs.kr</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- 풋터 -->
  <footer>

  </footer>
</body>

</html>