<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공주고 3D 프린터실</title>
  <link rel="stylesheet" href="/templates/css/style.css">
  <link rel="stylesheet" href="/templates/css/Home.css">
  <link rel="shortcut icon" type="x-icon" href="source/img/LogoIcon.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <a href="/"><img src="source/img/logo.png"></a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="menu"><i class='bx bx-menu'></i></label>
    <nav class="navbar">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/Esetimate">견적</a></li>
        <li><a href="/Ask">신청</a></li>
        <li><a href="/Search">조회</a></li>
        <li><a href="/Inquiry">문의</a></li>
        <li class="loginInMenu"><a href="/api/login">로그인</a></li>
        <li class="userInMenu"><a href="/api/user">프로필</a></li>
      </ul>
    </nav>
    <nav class="LoginWrap">
      <a href="/api/login" class="login"><i class='bx bxs-user-circle'></i></a>
      <a href="/api/user" class="user" style="display: none;"><i class='bx bxs-user-circle'></i></a>
    </nav>
    <script>
      function handleResize() {
        const loginInMenu = document.querySelector('.loginInMenu');
        const userInMenu = document.querySelector('.userInMenu');

        if (window.innerWidth <= 991) {
          loginInMenu.style.display = 'initial';
          userInMenu.style.display = 'none';
        } else {
          loginInMenu.style.display = 'none';
          userInMenu.style.display = 'none';
        }
      }

      // 초기 로드 시 실행
      handleResize();

      // 화면 크기 변경 시 이벤트 리스너 추가
      window.addEventListener('resize', handleResize);

    </script>
  </header>
  <section>




  </section>
  <footer>

  </footer>
</body>

</html>