:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

section {
    padding: 70px 17%;
}

.home {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.3rem;
    align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.btn:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text span {
    color: var(--main-color);
    font-weight: 600;
}

.about-text h2 {
    font-size: var(--h2-font);
    margin: 0.8rem 0 0.8rem;
}

.about-text p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading {
    text-align: center;
}

.heading span {
    color: var(--main-color);
    font-weight: 600;
}

.heading h2 {
    font-size: var(--h2-font);
    margin: 0.8rem 0 0.8rem;
}

.menu-container {
    display: flex; /* 추가됨 */
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 0.5rem;
}

.box-img {
    width: 220px;
    height: 220px;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.box h2 {
    font-size: 1.3rem;
    color: var(--bg-color);
    padding: 10px 0 10px;
}

.box h3 {
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
    padding: 8px 0 8px;
}

.ContactWrap {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.ContactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ContactWrap {
    gap: 12rem; /* 간격을 3rem으로 설정하여 간격을 늘림 */
}

.Map {
    max-width: 100%;
    width: 220px;
    margin: 0.8rem 0 0.8rem;
}

.Contact-text span {
    color: var(--main-color);
    font-weight: 600;
    font-size: var(--p-font);
}

.Contact-text h2 {
    padding: 30px 0 30px;
}

/* 스마트폰 */
@media (max-width : 480px) {
    .home {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .home-img img {
        width: 340px;
        padding: 18px;
    }

    .home-text h1 {
        font-size: 14px;
    }

    .home-text h2 {
        font-size: 34px;
    }

    .home-text a {
        font-size: 14px;
        padding: 10px;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-img img {
        width: 340px;
        padding: 18px;
    }

    .about-text span {
        font: 12px;
    }

    .about-text h2 {
        font-size: 23px;
    }

    .about-text p {
        font-size: 14px;
    }

    #menu {
        margin: 30rem 0;
    }

    .menu .heading span {
        font-size: 16px;
    }

    .menu .heading h2 {
        font-size: 24px;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
    }

    .box-img img {
        width: 200px;
        height: auto;
    }

    .box {
        margin-top: 0.25rem;
        padding: 50px;
    }

    .box h2 {
        font-size: 24px;
        padding: 5px 0;
    }

    .box h3 {
        font-size: 18px;
        margin: 4px 0;
        padding: 6px 0;
    }

    .ContactUs {
        display: flex;
        flex-direction: column;
    }

    .ContactUs .heading span {
        font-size: 18px;
    }

    .ContactUs .heading h2 {
        font-size: 24px;
    }

    .ContactWrap, .Contact-text {
        display: flex;
        flex-direction: column;
    }

    .ContactWrap {
        gap: 1rem;
    }

    .Map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .Map iframe {
        width: 350px;
        height: 350px;
    }

    .Adress span, .tel span {
        font-size: 14px;
    }

    .Adress h2, .tel h2 {
        font-size: 18px;
    }
}

/* 태블릿 및 작은 화면 (최대 너비 1024px) */
@media (max-width: 1024px) and (min-width: 480px) {
    section {
        padding: 50px 10%;
    }

    .home {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .home-text h1 {
        font-size: 4rem;
    }

    .home-text h2 {
        font-size: 2rem;
    }

    .home-img img {
        width: 80%;
        margin: 0 auto;
    }

    .about-img img {
        width: 80%;
        margin: 0 auto;
    }

    .about-text h2 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 14px;
    }

    .menu-container {
        gap: 1.5rem;
    }

    .box {
        margin-top: 2rem;
        padding: 30px;
    }

    .box h2 {
        font-size: 1.5rem;
    }

    .box h3 {
        font-size: 1.2rem;
    }

    .ContactWrap {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .Map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .Adress h2, .tel h2 {
        font-size: 1.2rem;
    }
}
