<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공주고 3D 프린터실</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/List.css">
    <link rel="shortcut icon" type="x-icon" href="source/img/LogoIcon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  
  <body>
    <header>
      <a href="/"><img src="source/img/logo.png"></a>
      <input type="checkbox" id="menu-bar">
      <label for="menu-bar" class="menu"><i class='bx bx-menu'></i></label>
      <nav class="navbar">
        <ul>
          <li><a href="/">홈</a></li>
          <li><a href="/Esetimate">견적</a></li>
          <li><a href="/Ask">신청</a></li>
          <li><a href="/Search">조회</a></li>
          <li><a href="/Inquiry">문의</a></li>
          <li class="loginInMenu"><a href="/api/login">로그인</a></li>
          <li class="userInMenu"><a href="/api/user">프로필</a></li>
        </ul>
      </nav>
      <nav class="LoginWrap">
        <a href="/api/login" class="login">로그인</a>
        <a href="/api/user" class="user" style="display: none;"><i class='bx bxs-user-circle'></i></a>
      </nav>
      <script>
        function handleResize() {
          const loginInMenu = document.querySelector('.loginInMenu');
          const userInMenu = document.querySelector('.userInMenu');
  
          if (window.innerWidth <= 991) {
            loginInMenu.style.display = 'initial';
            userInMenu.style.display = 'none';
          } else {
            loginInMenu.style.display = 'none';
            userInMenu.style.display = 'none';
          }
        }
  
        handleResize();
  
        window.addEventListener('resize', handleResize);
      </script>
    </header>
    
    <section>
        <div class="board_wrap">
            <div class="board_title">
                <strong>질의응답</strong>
            </div>
            <div class="board_list_wrap">
                <div class="board_view">
                    <div class="title">글 제목이 들어갑니다</div>
                    <div class="info">
                        <dl>
                            <dt>번호</dt>
                            <dd>1</dd>
                        </dl>
                        <dl>
                            <dt>글쓴이</dt>
                            <dd>홍길동</dd>
                        </dl>
                        <dl>
                            <dt>작성일</dt>
                            <dd>2024.2.20</dd>
                        </dl>
                        <dl>
                            <dt>조회수</dt>
                            <dd>61</dd>
                        </dl>
                    </div>
                    <div class="cont">글 내용이 들어갑니다</div>
                </div>
                <div class="load-file">
                    <h4>첨부파일</h4>
                    <a href="#"><p>make.pdf</p></a>
                </div>
                </div>
                <div class="bt_wrap">
                    <a href="/Inquiry" class="on">목록</a>
                    <a href="/Inquiry&edit">수정</a>
                </div>
            </div>
    </section>
    <footer>
        <div class="row">
            <div class="col">
                <img src="source/img/logo.png" class="logo">
                <p>공주고 3D프린터실은 요청하시는 모든 것을 프린팅해주는 서비스입니다.</p>
            </div>
            <div class="col">
                <h3>찾아오는 길</h3>
                <p>공주고등학교 과학정보관 2층 3D프린터실</p>
                <p><a href="https://maps.app.goo.gl/9DQKK5ZnkdAi4hfk6">충청남도 공주시 공주고담길 2 (중학동)</a></p>
            </div>
            <div class="col">
                <h3>바로가기</h3>
                <ul>
                    <li><a href="/Info">소개</a></li>
                    <li><a href="/Esetimate">견적</a></li>
                    <li><a href="/Ask">신청</a></li>
                    <li><a href="/Such">조회</a></li>
                    <li><a href="/Inquery">문의</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>연락처</h3>
                <p>Web Manage <a href="mailto:20231601@kongjugo.cnehs.kr">20231601@kongjugo.cnehs.kr</a></p>
                <p>Print Manger <a href="mailto:20231720@kongjugo.cnehs.kr">20231720@kongjugo.cnehs.kr</a></p>
            </div>
        </div>
        <hr>
        <p class="copyright">Kongjugo 3D Printer Room @2024 - All Rights Reserved</p>
    </footer>
</body>

</html>