<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공주고 3D 프린터실</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="x-icon" href="source/img/LogoIcon.png">
</head>
<body>
    <header>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <a href="/"><img src="source/img/logo.png"></a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="menu"><box-icon name='menu'></box-icon></label>
        <nav class="navbar">
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/Info">소개</a>
                    <ul>
                        <li><a href="/Info">소개말</a></li>
                        <li><a href="/UseText">신청방법</a></li>
                    </ul>
                </li>
                <li><a href="/Esetimate">견적</a></li>
                <li><a href="/Ask">신청</a></li>
                <li><a href="/Search">조회</a></li>
                <li><a href="/Inquiry">문의</a>
                    <ul>
                        <li><a href="/Inquiry">질의응답</a></li>
                        <li><a href="/InquiryEmail">이메일 문의</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        
    </section>
    <footer>
        <div class="row">
            <div class="col">
                <img src="source/img/logo.png" class="logo">
                <p>공주고 3D프린터실은 요청하시는 모든 것을 프린팅해주는 서비스입니다.</p>
            </div>
            <div class="col">
                <h3>찾아오는 길</h3>
                <p>공주고등학교 과학정보관 2층 3D프린터실</p>
                <p><a href="https://maps.app.goo.gl/9DQKK5ZnkdAi4hfk6">충청남도 공주시 공주고담길 2 (중학동)</a></p>
            </div>
            <div class="col">
                <h3>바로가기</h3>
                <ul>
                    <li><a href="/Info">소개</a></li>
                    <li><a href="/Esetimate">견적</a></li>
                    <li><a href="/Ask">신청</a></li>
                    <li><a href="/Such">조회</a></li>
                    <li><a href="/Inquery">문의</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>연락처</h3>
                <p>Web Manage <a href="mailto:20231601@kongjugo.cnehs.kr">20231601@kongjugo.cnehs.kr</a></p>
                <p>Print Manger <a href="mailto:20231720@kongjugo.cnehs.kr">20231720@kongjugo.cnehs.kr</a></p>
            </div>
        </div>
        <hr>
        <p class="copyright">Kongjugo 3D Printer Room @2024 - All Rights Reserved</p>
    </footer>
</body>
</html>